.header {
  background: #fdf9f6;
  color: #535353;
  border-radius: 25px;
  text-align: center;
  padding: 50px 20px;
  margin: 30px;
  font-size: 0.9rem;
}
.pHeading {
  font-size: 40px;
  margin-bottom: 5px;
  color: #000;
  text-transform: uppercase;
}
.steps {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.circle {
  border: 1px solid black;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  text-align: center;
  justify-content: center;
  font-size: 34px;
}
.text {
  margin-top: 20%;
}
.icon {
  margin: 8px;
  margin-top: 25px;
  transform: scale(2);
}
.active {
  background-color: #5b5b5b;
  color: #ffffff;
}
.body {
  text-align: center;
  margin-bottom: 30px;
  width: 900px;
  margin: auto;
}
.ques {
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 20px;
}
.qtext {
  text-align: left;
  font-size: 28px;
  line-height: 33px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 100px;
  margin-left: 200px;
  margin-right: 200px;
  text-align: center;
}
.card {
  margin-bottom: 30px;
  cursor: pointer;
}
.tile {
  width: 190px;
  height: 190px;
  background-color: #fdeddb;
  margin-bottom: 10px;
}
.box {
  border: 2px solid #9c9c9c;
  box-sizing: border-box;
  border-radius: 8px;
  width: 900px;
  height: 60px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  font-size: 30px;
  font-weight: 400;
}
.btn {
  background-color: #84855d;
  border-radius: 12px;
  width: 249px;
  height: 60px;
  color: white;
  margin-left: 900px;
  margin-bottom: 200px;
  font-size: 22px;
  cursor: pointer;
}
.backbtn {
  background-color: #84855d;
  border-radius: 12px;
  width: 249px;
  height: 60px;
  color: white;
  font-size: 22px;
  cursor: pointer;
  margin-left: 100px;
  margin-top: 70px;
}
.tbox {
  border: 2px solid #84855d;
  border-radius: 8px;
  width: 900px;
  height: 80px;
  margin-top: 72px;
  margin-bottom: 72px;
  margin-left: 150px;
  font-size: 32px;
  padding-left: 26px;
}
.desc {
  width: 900px;
  height: 380px;
  background-color: #fafafa;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 8px;
  padding-top: 70px;
  padding-left: 65px;
  margin: auto;
  margin-bottom: 200px;
}
.head {
  font-size: 30px;
  font-weight: normal;
  line-height: 35px;
  text-align: left;
}
.sub {
  font-size: 30px;
  font-weight: 300;
  line-height: 35px;
  text-align: left;
  margin-top: 2px;
}
.area {
  width: 900px;
  height: 500px;
  border: 2px solid #84855d;
  box-sizing: border-box;
  border-radius: 8px;
  margin: auto;
  margin-top: 72px;
}
.empty {
  width: 900px;
  height: 60px;
  background-color: #f0f0f0;
  border: 2px solid #84855d;
  box-sizing: border-box;
  border-radius: 8px 8px 0px 0px;
}
.input {
  height: 100%;
  font-size: 32px;
  padding-left: 26px;
  padding-top: 24px;
}
.message {
  display: inline-block;
  width: 840px;
  height: 66px;
  font-size: 28px;
  margin-left: 200px;
  text-align: left;
  margin-top: 45px;
}
.reftext {
  display: inline-block;
  width: 900px;
  height: 35px;
  font-weight: 500;
  font-size: 30px;
  margin-top: 45px;
  margin-left: 160px;
  margin-bottom: -30px;
}
.picarea {
  height: 200px;
  width: 400px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}
.fileinput {
  width: 249px;
  height: 50px;
  border: 2px solid #9c9c9c;
  border-radius: 4px;
  margin-left: 300px;
  margin-right: auto;
  margin-top: 100px;
}
.pic {
  height: 100%;
  width: 100%;
  background-size: cover;
}
.error {
  color: red;
  text-align: center;
}

.add {
  width: 120px;
  height: 80px;
  background-color: #84855d;
  border: 2px solid #84855d;
  border-radius: 8px;
  font-size: 28px;
  color: white;
}
.entry{
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-left:300px;
  justify-content: space-between;
}
.ls{
  margin-top: 30px;
}