.css-15v22id-MuiAccordionDetails-root{
  padding:0 !important;
}
.css-1elwnq4-MuiPaper-root-MuiAccordion-root.Mui-expanded{
  margin:0 !important;
}
.css-o4b71y-MuiAccordionSummary-content.Mui-expanded{
  margin:0 !important;
}

.css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root.Mui-expanded {
  min-height:27px !important;
}
.css-ta84vm-MuiAccordionDetails-root {
  padding: 0 !important;
}


.dropdown_mobile {
  display: none !important;


}
.filterHeading{
  font-size:17px !important;
  font-weight: bold !important;
  color: #84855D !important;
  padding: 0 auto !important;
}
.filter__bar {
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  overflow-y: scroll;
  width: 13%;
  position: fixed;
  min-width: 150px;
  display: flex;
  flex-direction: column;

height:80vh;
  padding: 0 auto !important;
  margin:1%;
}

.MuiListItem-root.MuiListItem-gutters.css-1nxmd3h-MuiListItem-root {
  height: 22px;
}

.MuiListItemButton-root.MuiListItemButton-dense.MuiListItemButton-gutters.MuiButtonBase-root.css-1m4u3pv-MuiButtonBase-root-MuiListItemButton-root {
  height: 22px;
}

.MuiListItemIcon-root.css-cveggr-MuiListItemIcon-root {
  width: 25px;
  min-width: 0;
}

.filter__bar2 {
  width: 17%;

  right: 0;
  position: fixed;
  overflow-x: hidden;
  padding: 22px 7px;
  overflow: auto;
}

.sub {
  width: 70%;
  margin: 0 auto;
}

.color_pie {
  display: inline-block;
  cursor: pointer;
  margin: auto 3px;
  border-style: solid;

  height: 12px;
  width: 12px;
  min-width: 12px;
  min-height: 12px;
  left: 0px;
  top: 0px;
  border-width: 0px;
  border-color: rgb(255, 255, 255);
  border-radius: 0px;
  
}

.pie_title {
  color: rgb(55, 61, 63);
  font-size: 12px;
  font-weight: 400;
  font-family: Helvetica, Arial, sans-serif;
  margin: 3px;
}

.color_pie2 {
  background: rgb(254, 176, 25) !important;

  display: inline-block;
  cursor: pointer;
  margin-right: 3px;
  border-style: solid;

  height: 12px;
  width: 12px;
  left: 0px;
  top: 0px;
  border-width: 0px;
  border-color: rgb(255, 255, 255);
  border-radius: 0px;
}

/* .apexcharts-legend.apexcharts-align-center.apx-legend-position-right {
  left: 0 !important;
  top: 0 !important;
  right: 0 !important;
  display: none !important; 
} */

.apexcharts-canvas {
  margin: 0 auto !important;
}

.apexcharts-canvas.apexcharts35g1ke8ti.apexcharts-theme-light {
  border: 10px solid green !important;
  width: 100% !important;
}

#apexcharts35g1ke8ti {
  border: 10px solid green;
}

/* .MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-1.css-a5rdam-MuiGrid-root {
  margin: 0 !important;
} */
.center_graph_piechart {
  width: 87%;
  margin: 0 17% 0 13%;
  min-width: 546px !important;
min-height: 80vh;
  /* overflow-y: scroll; */
}

.center_graph {
  width: 87%;
  margin: 0 0 0 13%;
  /* overflow-y: scroll; */
}

/* .MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-1.css-a5rdam-MuiGrid-root {
  margin: 1px !important;
} */
.pieChartContainer {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column !important;
  margin: 0 auto !important;
  /* border: 1px solid green; */

}

.piechart {
  width: 300px;
}

@media only screen and (max-width: 1339px) {
  .piechart {
    width: 280px !important;
  }

}

@media only screen and (max-width: 1179px) {
  .piechart {
    width: 280px !important;
  }

}

@media only screen and (max-width: 1169px) {
  .piechart {
    width: 270px !important;
  }

}

@media only screen and (max-width: 880px) {
  .piechart {
    width: 300px !important;
  }
}

@media only screen and (max-width: 865px) {
  .piechart {
    width: 300px !important;
  }
}

@media only screen and (max-width: 850px) {
  .piechart {
    width: 280px !important;
  }
}

@media only screen and (max-width: 780px) {
  .piechart {
    width: 300px !important;
  }

  .filter__bar {
    display: none;
  }

  .filter__bar2 {
    display: none;
  }

  .center_graph_piechart {
    width: 100% !important;
    margin: 0 auto;
  }

  .dropdown_mobile {
    display: inline-block !important;
  }
}

@media only screen and (max-width: 750px) {
  .piechart {
    width: 300px !important;
  }


}

@media only screen and (max-width: 611px) {

  .piechart {
    width: 260px !important;
  }

  .center_graph_piechart {
    width: 100%;
    margin: 0 auto;
  }

  .center_graph {
    width: 100%;
    margin: 0 auto;
  }

}

@media only screen and (max-width: 525px) {

  .piechart {
    width: 220px !important;
  }

  .center_graph_piechart {
    width: 100%;
    margin: 0 auto;
  }

  .center_graph {
    width: 100%;
    margin: 0 auto;
  }

}

@media only screen and (max-width: 569px) {
  .piechart {
    width: 260px !important;
  }

  .center_graph_piechart {
    width: 100% !important;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 380px) {
  .piechart {
    width: 200px !important;
  }
}