.header {
  background: #fdf9f6;
  color: #535353;
  border-radius: 25px;
  text-align: center;
  padding: 50px 20px;
  margin-bottom: 30px;
  font-size: 0.9rem;
}

.pHeading {
  font-size: 2rem;
  margin-bottom: 5px;
  color: #000;
  text-transform: uppercase;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  /* margin-left:100px */
}
.card {
  width: 350px;
  height: 300px;
  background-color: #fdf9f6;
  border-radius: 15px;
  margin: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.image {
  width: 310px;
  height: 200px;
  border-radius: 12px;
  /* padding-top: 20px; */
}
.name {
  /* width: 200px; */
  /* height: 60px; */
  font-weight: normal;
  font-size: 20px;
  /* line-height: 28px; */
  text-align: center;
 /* margin-left:40px; */
  margin-top: 10px;
}
.nameheading {
  width: 350px;
  height: 60px;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  margin-top: 20px;
  margin-right:20px
}
.avatar{
  height:30px;
  width:30px
}
.avatarimage{
  height:100px;
  width: 100px;
}

.result{
  margin-left: 100px;
  margin-top: 50px;
}
.vote{
  display: block;
  background-color:#84855d;
  color: white;
  margin: 1rem 0;
  padding: 0.5rem;
  cursor: pointer;
}