.center{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 20%;
    height: 20%;
    margin-bottom: 2rem;
    border: 2px solid grey;
    border-radius: 30px;
}
.container{
    background-color: #FDF9F6;
    margin-bottom: 30px;
    width: 60%;
    margin: 7px auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
   
}
.list{
    text-align: center;
    padding: 10px;

   
}
.list1{
    margin-left: 20px;
    font-size: 10px !important;
}
.backbtn,.submitbtn{
   background-color: #84855D;
   color: white;
   padding: 0.5rem 1rem;
   cursor: pointer;
   border-radius: 10px;

}
.backbtn{
    background-color: #5b5c3f;
}

.sharebtn{
    position: absolute;
    top: 20px;
    right: 180px;
    color: #84855D;
    font-size: 1.3rem;
    cursor: pointer;
}
.backbtn{
    position: absolute;
    top: 20px;
    left: 180px;
}
.cont{
    width: 70%;
    margin: 20px auto;
}
.rel{
    position: relative;
}
.share{
    position: absolute;
    margin:10px;
    background-color: #84855D;  
    display: inline-block;
    height:25px;
    right:210px;
   bottom:150px;
   margin-bottom: 30px;
   font-size: 18px;
}
.rating{
    margin-top: 30px;
    font-size: 20px;
    height:300px;
    margin-left: 350px;
}

.actions{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    width: 80%;


}
.slidecontainer{
    width: 80% ;
    margin: 40px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.opcont{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}