.center{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 30%;
    height: 30%;
}
.container{
    background-color: #FDF9F6;
    margin-bottom: 40px;
}
.list{
    text-align: center;
    padding: 10px;
   
}
.list1{
    width: 600px ;
    margin-left: 300px;
    margin-top: 30px;
}
.backbtn{
    position: absolute;
    margin:10px;
    background-color: #84855D;
    display: inline-block;
    height:25px;
    right:150px;
   bottom:20px;
   margin-bottom: 30px;
}

.share{
    position: absolute;
    margin:10px;
    background-color: #84855D;  
    display: inline-block;
    height:25px;
    right:210px;
   bottom:150px;
   margin-bottom: 30px;
   font-size: 18px;
}
.rating{
    margin-top: 30px;
    font-size: 20px;
    height:300px;
    margin-left: 350px;
}
