* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #222222;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  background-color: white;
}

body {
  box-sizing: border-box;
  background-color: white;
  color: #222222;
}

.header .header-top {
  height: 2.2rem;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  padding: 0 3rem;
}

.header .header-top .guest {
  width: 10rem;
  padding: 0 1rem;
  background-color: gray;
  display: flex;
  align-items: center;
  color: #ffffff;
  border-radius: 7px 7px 0 0;
  font-size: 1.2rem;
  height: 2.2rem;
}

.header .header-top .guest-item {
  display: flex;
  justify-content: space-between;
}

.header .header-top .language {
  border: none;
  outline: none;
  font-size: 1.2rem;
  height: 2.2rem;
  display: flex;
  align-items: center;
}

.header .header-top .language span {
  height: 2.4rem;
}

.header .header-nav {
  height: 6rem;
  display: flex;
  align-items: center;
  background-color: #ac074b;
  justify-content: space-between;
}

@media only screen and (min-width: 800px) {
  .header .header-nav .nav-right .side {
    display: none;
  }
}

.header .header-nav .nav-left {
  margin-left: 3rem;
  height: 100%;
  display: flex;
  align-items: center;
}

.header .header-nav .nav-left ul {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.header .header-nav .nav-left ul .logo {
  height: 6rem;
  display: flex;
  align-items: center;
  background-color: white;
  width: 180px;
  justify-content: center;
}

.header .header-nav .nav-left ul li {
  list-style-type: none;
  padding: 0 1rem;
  color: #ffff;
  margin-left: 2rem;
  height: 6rem;
  display: flex;
  align-items: center;
  border-bottom: 4px solid transparent;
}

@media only screen and (max-width: 800px) {
  .header .header-nav .nav-left ul li {
    display: none;
  }
}

.header .header-nav .nav-left ul li a {
  color: #fff;
}

.header .header-nav .nav-left ul .active-link {
  border-bottom: 4px solid white;
}

.box {
  padding: 2rem 5rem;
  background-color: white;
}

@media only screen and (max-width: 1250px) {
  .box {
    padding: 2rem 0.8rem;
  }
}

.section-news {
  display: grid;
  grid-template-columns: 70% 30%;
}

@media only screen and (max-width: 1250px) {
  .section-news {
    display: flex;
    flex-direction: column;
  }
}

.section-news-left {
  border: 2px solid #f5f5f5;
  padding: 1rem;
  border-radius: 10px;
}

.section-news-left--head {
  display: flex;
  justify-content: space-between;
}

.section-news-left--head .news-head {
  font-size: 2rem;
  font-weight: bold;
}

.section-news-left--head .viewAll {
  margin-right: 1rem;
  background-color: #a62844;
  padding: 0.8rem;
  color: white;
  border-radius: 10px;
  transition: all 0.3s;
}

.section-news-left--head .viewAll:hover {
  background-color: #f3d8e2;
  color: #222222;
}

.section-news-left--head .viewAll span {
  color: white;
  margin-left: 0.5rem;
}

.section-news-left--tags {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.section-news-left--tags .tags {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.section-news-left--tags .tags .cat {
  cursor: pointer;
}

.section-news-left--tags .tags label {
  margin-bottom: 1rem;
  margin-right: 2rem;
  background-color: #efefef;
  padding: 0.5rem 0.7rem;
  border-radius: 10px;
}

.section-news-left .card-container {
  position: relative;
  overflow-y: scroll;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.section-news-right {
  background-color: white;
  border: 2px solid #f5f5f5;
  margin-left: 3rem;
  border-radius: 10px;
}

@media only screen and (max-width: 1250px) {
  .section-news-right {
    margin-left: 0rem;
    margin-top: 1.5rem;
  }
}

.section-news-right .trending-head {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  border-bottom: 2px solid #cfcfcf;
}

.section-news-right .trending-head span:nth-child(1) {
  font-weight: bold;
  font-size: 1.8rem;
}

.section-news-right .trending-head .viewAll {
  background-color: #a62844;
  padding: 0.8rem;
  color: white;
  border-radius: 10px;
  transition: all 0.3s;
}

.section-news-right .trending-head .viewAll:hover {
  background-color: #f3d8e2;
  color: #222222;
}

.section-news-right .trending-head .viewAll a {
  color: white;
}

.section-news-right .trending-news {
  height: 480px;
  overflow-y: scroll;
}

.card-container p {
  margin: 0;
}

.card-container > .ant-tabs-card .ant-tabs-content {
  margin-top: -16px;
}

.card-container > .ant-tabs-card .ant-tabs-content > .ant-tabs-tabpane {
  background: #fff;
  border: 1px solid #f5f5f5;
  padding: 16px;
}

@media only screen and (max-width: 1250px) {
  .card-container > .ant-tabs-card .ant-tabs-content > .ant-tabs-tabpane {
    padding: 2rem 0.3rem;
  }
}

.card-container > .ant-tabs-card > .ant-tabs-nav::before {
  display: none;
}

.card-container > .ant-tabs-card .ant-tabs-tab,
[data-theme='compact'] .card-container > .ant-tabs-card .ant-tabs-tab {
  border-color: transparent;
  background: transparent;
}

.card-container > .ant-tabs-card .ant-tabs-tab-active,
[data-theme='compact'] .card-container > .ant-tabs-card .ant-tabs-tab-active {
  border-color: #fff;
  background: #fff;
}

#components-tabs-demo-card-top .code-box-demo {
  background: #f5f5f5;
  overflow: hidden;
  padding: 24px;
}

[data-theme='compact'] .card-container > .ant-tabs-card .ant-tabs-content {
  height: 120px;
  margin-top: -8px;
}

[data-theme='dark'] .card-container > .ant-tabs-card .ant-tabs-tab {
  border-color: transparent;
  background: transparent;
}

[data-theme='dark'] #components-tabs-demo-card-top .code-box-demo {
  background: #000;
}

[data-theme='dark'] .card-container > .ant-tabs-card .ant-tabs-content > .ant-tabs-tabpane {
  background: #141414;
}

[data-theme='dark'] .card-container > .ant-tabs-card .ant-tabs-tab-active {
  border-color: #141414;
  background: #141414;
}

.home-section-2 .grid-46 {
  display: grid;
  grid-template-columns: 30% 70%;
  height: 360px;
}

@media only screen and (max-width: 1250px) {
  .home-section-2 .grid-46 {
    display: flex;
    flex-direction: column;
    height: 700px;
  }
}

.home-section-2 .grid-46 .tags label {
  display: inline-block;
  margin-right: 2rem;
  background-color: #efefef;
  padding: 0.5rem 0.7rem;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.home-section-2 .grid-46 .top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.home-section-2 .grid-46 .top .viewAll {
  background-color: #a62844;
  padding: 0.8rem;
  color: white;
  border-radius: 10px;
  transition: all 0.3s;
  cursor: pointer;
}

.home-section-2 .grid-46 .top .viewAll:hover {
  background-color: #f3d8e2;
  color: #222222;
}

.home-section-2 .grid-46 .top span:nth-child(1) {
  font-weight: bold;
}

.home-section-2 .grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1rem;
}

@media only screen and (max-width: 1250px) {
  .home-section-2 .grid-2 {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }
}

.home-section-3 {
  margin-top: 3rem;
}

.home-section-3 .base {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 3rem;
  height: 300px;
}

@media only screen and (max-width: 900px) {
  .home-section-3 .base {
    grid-template-columns: 1fr;
    height: max-content;
    grid-row-gap: 1rem;
  }
}

.home-section-3 .base .disp {
  display: flex;
  border: 2px solid #f5f5f5;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.home-section-3 .base .disp img {
  margin-bottom: 1rem;
}

.news {
  padding: 1rem 5rem;
  background-color: white;
}

@media only screen and (max-width: 1250px) {
  .news {
    padding: 1rem 0.8rem;
  }
}

.news .news-head h1 {
  font-size: 1.8rem;
  font-weight: bold;
}

.news .news-section1 {
  display: grid;
  grid-template-columns: 70% 30%;
}

@media only screen and (max-width: 1250px) {
  .news .news-section1 {
    display: flex;
    flex-direction: column;
  }
}

.news .news-section1 .spotlight {
  height: 40rem;
  background-color: white;
  border: 2px solid #f5f5f5;
  border-radius: 10px;
}

@media only screen and (max-width: 1250px) {
  .news .news-section1 .spotlight {
    margin-top: 2rem;
  }
}

.news .news-section1 .spotlight-head {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  border-bottom: 2px solid #cfcfcf;
}

.news .news-section1 .spotlight-head span:nth-child(1) {
  font-weight: bold;
  font-size: 1.8rem;
}

.news .news-section1 .spotlight .trending-news {
  height: 300px;
  overflow-y: scroll;
}

.news .news-section1 .left {
  border: 1px solid #f5f5f5;
  padding: 1rem;
  border-radius: 10px;
}

.news .news-section1 .left .left-head {
  display: grid;
  grid-template-columns: 80% 20%;
}

.news .news-section1 .left .left-head p {
  font-weight: bold;
}

.news .news-section1 .left .left-head span {
  background-color: #a62844;
  justify-self: center;
  padding: 0.2rem 1rem;
  align-self: center;
  border-radius: 10px;
  color: white;
}

.news .news-section1 .left .left-body {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-column-gap: 1.5rem;
}

@media only screen and (max-width: 1250px) {
  .news .news-section1 .left .left-body {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 1250px) {
  .news .news-section1 .left .left-body .image {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }
}

.news .news-section1 .left .left-body .image img {
  width: 100%;
}

@media only screen and (max-width: 1250px) {
  .news .news-section1 .left .left-body .image img {
    width: 50%;
  }
}

.news .news-section1 .left .left-body .description {
  padding-right: 3rem;
}

@media only screen and (max-width: 1250px) {
  .news .news-section1 .left .left-body .description {
    padding-right: 0rem;
  }
}

.news .news-section1 .left .left-body .description p {
  word-break: break-all;
}

.news .news-section1 .left .left-body .description .download {
  background-color: white;
  padding: 1.5rem;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 70% 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
}

@media only screen and (max-width: 1250px) {
  .news .news-section1 .left .left-body .description .download {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.news .news-section1 .left .left-body .description .download span {
  background-color: #a62844;
  padding: 0.5rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  color: white;
}

.news .news-section2 .news-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1.5rem;
  align-content: center;
  justify-items: center;
}

.news-tags {
  padding: 2rem 1.5rem;
  background-color: #c5c5c5;
  border-radius: 10px;
}

.news-tags label {
  background-color: white;
}

.trending-news-single {
  height: 90px;
  padding-left: 1rem;
  margin-top: 1rem;
  display: flex;
  border: 1px solid #f5f5f5;
}

.trending-news-single .trending-desc {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.trending-news-single .trending-desc-1 {
  padding-left: 1.5rem;
}

.trending-news-single .trending-desc-1 span {
  font-weight: bold;
  display: block;
  margin-bottom: 1rem;
}

.trending-news-single .trending-desc-2 {
  display: flex;
  align-items: center;
  padding: 0 2rem;
}

.trending-news-single .image-cont {
  height: 90px;
  width: 160px;
  overflow: hidden;
}

.trending-news-single .image-cont img {
  width: 160px;
}

.card {
  box-sizing: content-box;
  border: 2px solid #f5f5f5;
  margin-right: 1.5rem;
  width: 300px;
  height: 385px;
  padding-bottom: 1rem;
  background-color: white;
  border-radius: 10px;
}

.card-img {
  height: 200px;
  border-radius: 10px 10px 0 0;
  width: 300px;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card .category-container {
  margin-top: 1.5rem;
}

.card .category-container .category {
  background-color: #c2c2c2;
  padding: 0.5rem 0.8rem;
  border-radius: 15px;
  color: white;
  margin-left: 15px;
}

.card .news-headlines {
  margin-top: 1.5rem;
  padding: 0 15px;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.card .news-headlines span {
  font-weight: bold;
  display: block;
  margin-bottom: 1rem;
}

.card .news-headlines p {
  color: grey;
}

.card .description {
  padding: 0 15px;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.card .published {
  display: flex;
  padding: 0 15px;
  font-size: 1rem;
}

.card .published img {
  border-radius: 50%;
}

.card .published .user {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card .published .user span {
  font-weight: bold;
}

.card .read-more {
  margin-top: 2rem;
  padding: 0 15px;
  color: gray;
}

.card .read-more .read {
  color: #222222;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.poll-box {
  padding: 1rem 4rem;
  background-color: #fff;
}

@media only screen and (max-width: 1250px) {
  .poll-box {
    padding: 1rem 0.8rem;
  }
}

.long-card {
  display: grid;
  grid-template-columns: 15rem 1fr;
  background-color: white;
  border: 2px solid #f5f5f5;
  border-radius: 10px;
  margin-bottom: 1.5rem;
  padding: 1rem;
}

.long-card-img {
  width: 15rem;
  height: 13rem;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
}

.long-card-img img {
  width: 15rem;
}

.long-card-desc {
  padding-left: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.long-card-desc .heading {
  font-weight: bold;
  margin-bottom: 1rem;
}

.long-card-desc p {
  font-size: 1rem;
}

.long-card-desc .cat {
  display: flex;
  flex-wrap: wrap;
  font-size: 1rem;
  margin-top: 0.8rem;
}

.long-card-desc .cat span {
  margin-right: 1rem;
  background-color: #a62844;
  color: white;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 5px;
}

.long-card-desc .give-rating {
  margin-top: 5px;
  font-size: 1.2rem;
  color: grey;
  margin-bottom: 5px;
}

.pollCont {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
}

.long-card-ver {
  display: flex;
  flex-direction: column;
}

.long-card-ver .long-card-img {
  width: 100%;
  height: 20rem;
  background-size: cover;
  background-position: center;
}

.long-card-ver .heading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav li {
  list-style-type: none;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidenav .active-link a {
  color: white;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.award-categories-card {
  width: 300px;
  height: 300px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}

.award-categories-card .img {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 250px;
}

.award-categories-card .data {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  font-weight: bold;
}

.nominee-card .img {
  background-position: center;
  background-size: cover;
}

.jury-card {
  background-color: white;
  border-radius: 10px;
  padding: 1rem;
  display: grid;
  grid-template-columns: 130px 1fr;
  grid-column-gap: 1rem;
}

.jury-card .img {
  background-position: center;
  background-size: cover;
}

.jury-card .data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.jury-card .data p {
  margin: 0;
}

.quiz-cat {
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quiz-cat img {
  margin-bottom: 1rem;
}

.quiz-cat span {
  font-weight: bold;
  display: block;
  text-align: center;
  color: black;
}

.level-card {
  background-color: white;
  border: 3px solid #f5f5f5;
  box-shadow: 5px 10px 18px #888888;
  padding: 1rem;
  display: grid;
  border-radius: 10px;
}

.level-card .left {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.level-card .left .meta {
  display: flex;
  flex-direction: column;
}

.quiz .options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.quiz-box .hint-btn span {
  display: flex;
  align-items: center;
  background-color: #a62844;
  padding: 0.8rem 2rem;
  border-radius: 20px;
  margin-bottom: 2rem;
  color: white;
}

.quiz-box .hint-btn span img {
  margin-right: 1rem;
}

.quiz-box .quiz-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quiz-box .quiz-head .hint {
  align-self: flex-start;
  margin-left: 1rem;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  background-color: #f3d8e2;
  padding: 1rem;
  border-radius: 20px;
}

.quiz-box .quiz-head .hint span {
  margin-right: 1rem;
}

.quiz-box .quiz-head .level {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.quiz-box .quiz-head .timer {
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.quiz-box .quiz-head .timer .timer-val {
  margin-left: 1rem;
  font-weight: bold;
}

.quiz-box .quiz-head .timer .timer-logo {
  font-size: 2.3rem;
}

.quiz-box .quiz-head .questionNo {
  margin-top: 1rem;
  font-size: 1.3rem;
  background-color: #a62844;
  color: white;
  padding: 1rem;
  border-radius: 10px;
}

.quiz-box .start {
  cursor: pointer;
  background-color: #a62844;
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 10px;
  color: white;
}

.quiz-box .quiz {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.quiz-box .quiz .quiz-ques {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}

@media screen and (max-width: 750px) {
  .quiz-box .quiz .quiz-ques {
    width: 100%;
  }
}

.quiz-box .quiz .quiz-ques p {
  width: 100%;
  padding: 3rem;
  text-align: center;
  font-size: 1.6rem;
  color: #222222;
  border-radius: 10px;
}

.quiz-box .quiz .quiz-ques .options {
  width: 100%;
  grid-gap: 1rem;
}

@media screen and (max-width: 750px) {
  .quiz-box .quiz .quiz-ques .options {
    display: flex;
    flex-direction: column;
  }
}

.quiz-box .quiz .quiz-ques .options .opt {
  margin-bottom: 2rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 1rem;
  font-size: 1.3rem;
  border-radius: 10px;
  font-size: 1.6rem;
  background-color: white;
  border: 2px solid transparent;
  background-color: #f5f5f5;
  transition: all 0.3s;
}

.quiz-box .quiz .quiz-ques .options .opt:hover {
  background-color: #f3d8e2;
}

.quiz-box .buttons {
  margin-top: 2rem;
  height: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
}

.quiz-box .buttons .btn {
  padding: 1rem;
  background-color: #a62844;
  color: white;
  border-radius: 10px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  cursor: pointer;
}

.quiz-result {
  font-size: 1.3rem;
  font-weight: bold;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.quiz-result .bottom {
  display: flex;
  justify-content: center;
  color: white;
}

.quiz-result .bottom .cont {
  background-color: #a62844;
  width: 70%;
  padding: 1rem;
  border-radius: 15px;
  color: white;
}

.quiz-result .bottom .cont p {
  display: grid;
  color: white;
  grid-template-columns: 50% 50%;
  justify-items: flex-end;
  grid-column-gap: 1rem;
}

.quiz-result .bottom .cont p span {
  color: white;
}

.quiz-result .bottom .cont p span:nth-child(2) {
  justify-self: flex-start;
}

.quiz-result .total-score {
  display: flex;
  justify-content: center;
}

.quiz-result .total-score p {
  background-color: #a62844;
  width: 70%;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 1.6rem;
  padding: 1rem;
  border-radius: 15px;
}

.modal {
  background-color: rgba(173, 8, 74, 0.3);
  border-radius: 5px;
  color: #333;
  font-family: sans-serif;
  line-height: 1.5;
  max-width: 100%;
  color: white;
  padding: 1rem 2rem;
}

.modal a {
  color: #bf0222;
}

@supports (backdrop-filter: none) {
  .modal {
    backdrop-filter: blur(10px);
    background-color: rgba(173, 8, 74, 0.3);
  }
  .warning {
    display: none;
  }
}
/*# sourceMappingURL=App.css.map */