* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  background-color: #f5f5f5;

}

body {
  box-sizing: border-box;
  background-color: #f5f5f5;

}

.header {
  .header-top {
    height: 2.2rem;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    padding: 0 3rem;
    .guest {
      width: 10rem;
      padding: 0 1rem;
      background-color: gray;
      display: flex;
      align-items: center;
      color: white;
      border-radius: 7px 7px 0 0;
      font-size: 1.2rem;
      height: 2.2rem;

      &-item {
        display: flex;
        justify-content: space-between;
      }
    }
    .language {
      border: none;
      outline: none;
      font-size: 1.2rem;
      height: 2.2rem;
      display: flex;
      align-items: center;
      span {
        height: 2.4rem;
      }
    }
  }
  .header-nav {
    height: 6rem;
    display: flex;
    align-items: center;
    background-color: grey;
    .nav-left {
      margin-left: 3rem;
      height: 100%;
      display: flex;
      align-items: center;

      ul {
        display: flex;
        align-items: center;
        margin-bottom: 0;
        .logo {
          height: 6rem;
          display: flex;
          align-items: center;
          background-color: white;
          width: 180px;
          justify-content: center;
        }
        li {
          list-style-type: none;
          padding: 0 1rem;
          color: #ffff;
          margin-left: 2rem;
          height: 6rem;
          display: flex;
          align-items: center;
          border-bottom: 4px solid transparent;
          a{
            color: #fff;
          }
        }
        .active-link{
          border-bottom: 4px solid white;
        
        }

      }
    }
  }
}
.box{
  padding: 2rem 5rem;
  background-color: #f5f5f5;

}
.section-news{
  display: grid;
  grid-template-columns: 70% 30%;
  // height: 50rem;
  &-left{
    &--head{
      display: flex;
      justify-content: space-between;
    }
    &--tags{
      margin-top: 2rem;
      margin-bottom: 2rem;
      .tags{
        display: flex;
        flex-wrap: wrap;
        label{
          margin-bottom: 1rem;

          margin-right:2rem;
          background-color: #efefef;
          padding: 0.5rem 0.7rem;
          border-radius: 10px;
        }
      }
    }
    .card-container{
      position: relative;
      overflow-y: scroll;
      display: flex;
      flex-direction: row;
    
      
    }
  }
  &-right{
    background-color: white;
margin-left: 3rem; 
border-radius: 10px;
.trending-head{
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  border-bottom: 2px solid rgb(207, 207, 207);
  span{
    &:nth-child(1){
      font-weight: bold;
      font-size: 1.8rem;
    }
  }
}

 }
}
.card-container p {
  margin: 0;
}
.card-container > .ant-tabs-card .ant-tabs-content {
  // height: 120px;
  margin-top: -16px;
}
.card-container > .ant-tabs-card .ant-tabs-content > .ant-tabs-tabpane {
  background: #fff;
  padding: 16px;
}
.card-container > .ant-tabs-card > .ant-tabs-nav::before {
  display: none;
}
.card-container > .ant-tabs-card .ant-tabs-tab,
[data-theme='compact'] .card-container > .ant-tabs-card .ant-tabs-tab {
  border-color: transparent;
  background: transparent;
}
.card-container > .ant-tabs-card .ant-tabs-tab-active,
[data-theme='compact'] .card-container > .ant-tabs-card .ant-tabs-tab-active {
  border-color: #fff;
  background: #fff;
}
#components-tabs-demo-card-top .code-box-demo {
  background: #f5f5f5;
  overflow: hidden;
  padding: 24px;
}
[data-theme='compact'] .card-container > .ant-tabs-card .ant-tabs-content {
  height: 120px;
  margin-top: -8px;
}
[data-theme='dark'] .card-container > .ant-tabs-card .ant-tabs-tab {
  border-color: transparent;
  background: transparent;
}
[data-theme='dark'] #components-tabs-demo-card-top .code-box-demo {
  background: #000;
}
[data-theme='dark'] .card-container > .ant-tabs-card .ant-tabs-content > .ant-tabs-tabpane {
  background: #141414;
}
[data-theme='dark'] .card-container > .ant-tabs-card .ant-tabs-tab-active {
  border-color: #141414;
  background: #141414;
}


.home-section-2{   
  .grid-46{
    display: grid;
    grid-template-columns: 30% 70%;
    height: 360px;
    .tags{
   
      label{
        display: inline-block;
        margin-right:2rem;
        background-color: #efefef;
        padding: 0.5rem 0.7rem;
        border-radius: 10px;
        margin-bottom: 2rem;
      }
    }
    .top{
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;
      padding: 0.5rem;
      span{
        &:nth-child(1){
          font-weight: bold;
        }
      }
    }
  }
  .grid-2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap:1rem;
  .long-card{
    display: grid;
    grid-template-columns: 15rem 1fr;
    background-color: #f5f5f5;
    border-radius: 10px;
    margin-bottom: 1.5rem;
    padding: 1rem;
    &-img{
      width: 15rem;
      height: 13rem;
      // overflow: hidden;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;

      display: flex;
    
      img{
        width: 15rem;
      }
    }
    &-desc{
      padding-left: 1.5rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      .heading{
        font-weight: bold;
        margin-bottom: 1rem;
      }
      p{
        font-size: 1rem;
      }
      .cat{
        display: flex;
        flex-wrap: wrap;
        font-size: 1rem;
        margin-top: 0.8rem;
        span{
          margin-right: 1rem;
          background-color: #a62844;
          color: white;
          padding: 5px;
          border-radius: 10px;
          margin-bottom: 5px;
        }
      }
      .give-rating{
        margin-top: 5px;
        font-size: 1.2rem;
        color: grey;
        margin-bottom: 5px;
      }
    }
  }
  .long-card-ver{
    display: flex;
    flex-direction: column;
    .long-card-img{
      width: 100%;
      height: 20rem;

      background-size: cover;
      background-position: center;
    }
    .heading{
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1rem;
    }
  }
 
}
}

.home-section-3{
  margin-top: 3rem;
  .base{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap:3rem ;
    height: 300px;
    .disp{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 2rem;
      img{
        margin-bottom: 1rem;
      }
    }
  }
}


.news {
  padding: 1rem 5rem;
  background-color: #f5f5f5;
  .news-head{
    h1{
      font-size: 1.8rem;
      font-weight: bold;
    }
  }
  .news-section1{
    display: grid;
    grid-template-columns: 70% 30%;
    .spotlight{
      height: 40rem;
      background-color: white;
      border-radius: 10px;
      &-head{
        display: flex;
        justify-content: space-between;
        padding: 2rem;
        border-bottom: 2px solid rgb(207, 207, 207);
        span{
          &:nth-child(1){
            font-weight: bold;
            font-size: 1.8rem;
          }
        }
      }
    }
    .left{
      .left-head{
        display: grid;
        grid-template-columns: 80% 20%;
        p{
          font-weight: bold;
        }
        span {
          background-color: white;
          justify-self: center;
          padding: 0.2rem 1rem;
          align-self: center;
          border-radius: 10px;
        }
      }
      .left-body {
        display: grid;
        grid-template-columns: 30% 70%;
        grid-column-gap:1.5rem;
        .image{
          img{
            // width: 300px;
            width: 100%;
          }
        }
        .description{
          padding-right: 3rem;
          .download{
            background-color: white;
            padding: 1.5rem;
            border-radius: 10px;
            display: grid;
            grid-template-columns: 70% 30%;
            align-content: center;
            justify-items: center;
            span{
              // justify-self: center;
              // align-self: center;
              background-color: #a62844;
              padding: 0.5rem;
              border-radius: 5px;
              display: flex;
              align-items: center;
              color: white;
            }
          }
        }
      }
    }
  }
  .news-section2{
    .news-tags
    {
      padding: 2rem 1.5rem;
      background-color: rgb(197, 197, 197);
      border-radius: 10px;
      label{
        background-color: white;
      }
    }
    .news-container{
      display: grid;
      grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
      grid-gap:1.5rem;
      align-content: center;
      justify-items: center;
    }
  }
}


.trending-news{
  
  &-single{
    height: 90px;
    padding-left: 1rem;
    margin-top: 1rem;
    display: flex;
    .trending-desc{
      display: flex;
      justify-content: space-between;
      width: 100%;
      &-1{
        padding-left: 1.5rem;
        span{
          font-weight: bold;
          display: block;
          margin-bottom: 1rem;
        }

      }
      &-2{
        display: flex;
        align-items: center;
        padding: 0 2rem;
      }
    }
    .image-cont{
      // margin-top: 1rem;
      height: 90px;
      width: 160px;
      overflow: hidden;
    img{
      width: 160px;
    }
  }
  }
}


.card{
  box-sizing: content-box;
  margin-right: 1.5rem;
  width: 300px;
  height: 385px;
  padding-bottom: 1rem;
  background-color: white;
  
  border-radius: 10px;

  &-img{
    height: 200px;
    border-radius: 10px 10px 0 0 ;

    width: 300px;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .category-container{
    margin-top: 1.5rem;
  .category{
  background-color: rgb(194, 194, 194);
  padding: 0.5rem 0.8rem;
  border-radius: 15px;
  color: white;
  margin-left: 15px;

  }
  
}
.news-headlines{
  margin-top: 1.5rem;
  padding:0 15px;
  // height: 90px;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  span{
    font-weight: bold;
    display: block;
    margin-bottom: 1rem;
  }
  p{
    color: grey;

  }
}
.description{
  padding:0 15px;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}
.published{
  display: flex;
  padding:0 15px;
  font-size: 1rem;
  img{
    border-radius: 50%;
  }
  .user{
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    span{
      font-weight: bold;
    }
  }
}
.read-more{
  margin-top: 1rem;
  padding: 0 15px;
  color: gray;
}

}